<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.stevens.cs522.bookstore"
    android:versionCode="1"
    android:versionName="1.0.0">

    <application
        android:icon="@drawable/icon"
        android:label="@string/name">
        <activity
            android:name=".activities.ActivityCart"
            android:label="@string/name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ActivityAdd"
            android:label="@string/name"></activity>

        <activity
            android:name=".activities.ActivityCheckOut"
            android:label="@string/name"></activity>

        <activity
            android:name=".activities.ActivityDetail"
            android:label="@string/name"></activity>

        <provider
            android:name=".providers.BookProvider"
            android:authorities="@string/app_namespace" />

    </application>

</manifest>